<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="PPTPROJECTConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\PPTPROJECT.mdb"
   providerName="System.Data.OleDb" />
  <add name="PPTPROJECTConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\PPTPROJECT.mdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
